<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Cart Products</h2>
            <p>Home <span>-</span>Cart Products</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb start-->

<!--================Cart Area =================-->
<section class="cart_area padding_top">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% items.forEach(function(item) { %>
              <tr>
                <td>
                  <div class="media">
                    <div class="d-flex product_preview">
                      <img src="<%-item.imgUrl%>" alt="" />
                    </div>
                    <div class="media-body">
                      <p><%-item.name%></p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>$<%-item.price%></h5>
                </td>
                <td>
                  <div class="product_count" onclick="changeCartCount(event)">
                    <span class="input-number-decrement ti-angle-down" data-id="<%-item.id%>" data-action="decrement"></span>
                    <input class="input-number" type="text"  value="<%-item.count%>" min="0" max="10">
                    <span class="input-number-increment ti-angle-up" data-id="<%-item.id%>" data-action="increment"></span>
                  </div>
                </td>
                <td>
                  <h5>$<%-item.price*item.count%></h5>
                </td>
              </tr>
            <% }); %>

            
            <tr>
              <td></td>
              <td></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5 class="cart-total">$ <%-_.sumBy(items, function(item) { return item.price*item.count; }) %></h5>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="checkout_btn_inner float-right">
          <a class="btn_1 checkout_btn_1" href="#" onclick="proceedToCheckout(event)"> Proceed to checkout</a>
        </div>
      </div>
    </div>
</section>
<!--================End Cart Area =================-->