<!--================Home Banner Area =================-->
<!-- breadcrumb start-->
<!-- <section class="breadcrumb breadcrumb_bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="breadcrumb_iner">
          <div class="breadcrumb_iner_item">
            <h2>Shop Category</h2>
            <p>Home <span>-</span> Shop Category</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- breadcrumb start-->

<!--================Category Product Area =================-->
<section class="cat_product_area section_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="left_sidebar_area">
          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Product filters</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <li>
                  <a href="/shop?material=metal" onclick="navigateTo(event)">Metal</a>
                </li>
                <li>
                  <a href="/shop?material=textile" onclick="navigateTo(event)">Textile</a>
                </li>
                <li>
                  <a href="/shop?material=wood" onclick="navigateTo(event)">Wood</a>
                </li>
              </ul>
            </div>
          </aside>

          <aside class="left_widgets p_filter_widgets">
            <div class="l_w_title">
              <h3>Color Filter</h3>
            </div>
            <div class="widgets_inner">
              <ul class="list">
                <li>
                  <a href="/shop?color=green" onclick="navigateTo(event)">Green</a>
                </li>
                <li>
                  <a href="/shop?color=orange" onclick="navigateTo(event)">Orange</a>
                </li>
                <li>
                  <a href="/shop?color=white" onclick="navigateTo(event)">White</a>
                </li>
                <li>
                  <a href="/shop?color=red" onclick="navigateTo(event)">Red</a>
                </li>
                <li>
                  <a href="/shop?color=colored" onclick="navigateTo(event)">Colored</a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </div>
      
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-12">
            <div class="product_top_bar d-flex justify-content-between align-items-center">
              <div class="single_product_menu">
                <p><span><%-items.length%></span> Product(s) Found</p>
              </div>

              <div class="single_product_menu d-flex">
                <h5>sort by:</h5>
                <select>
                  <option data-display="Select">name</option>
                  <option value="1">price</option>
                  <option value="2">product</option>
                </select>
              </div>

              <div class="single_product_menu d-flex">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="search"
                    aria-describedby="inputGroupPrepend"
                  />

                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"
                      ><i class="ti-search"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row align-items-center latest_product_inner">
          <% items.forEach(function(item) { %>
            <div class="col-lg-4 col-sm-6">
              <div class="single_product_item"  onclick="showProduct(event)">
                <img src="<%-item.imgUrl%>" alt="" data-id="<%-item.id%>" />
                <div class="single_product_text">
                  <h4><%-item.name%></h4>
                  <h3>$<%-item.price%></h3>
                  <a href="#" class="add_cart" data-id="<%-item.id%>" onclick="addToCart(event)">+ add to cart
                  </a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Category Product Area =================-->
